@import '../bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '../bower_components/font-awesome/css/font-awesome.min.css';

body {
  min-width: 780px;
}

table {
  overflow:scroll;
}

table tbody th {
  font-size: small;
}

#search-input {
  border-radius: 0;
}

#tureng {
  background-color: rgb(155, 10, 25);
}

.coming-soon {
  display: none;
}